:root {
    --blue: #157DBA;
    --yellow: #FFDAA2;
    --pink: #FFD9C8;
    --light-blue: #F1FAFF;
    --bold-font: 700;
    --semibold-font: 600;
    --medium-font: 500;
    --normal-font: 400;
    --margin-botoom: 100px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'Gilroy';
    font-style: normal;
}

header {
    background: url('images/BG.png');
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px;
    background-color: #fff;
    border-radius: 40px;
    margin-bottom: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo {
    margin-right: 30px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 6rem;
    list-style: none;
    font-size: 1.8rem;
    font-weight: var(--semibold-font);
}

.hidden {
    background-color: none !important;
}

li,
.download {
    cursor: pointer;
}

.hidden,
.hiddenList {
    display: none;
}

.hiddenList {
    position: absolute; /* или fixed */
    top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 25px;
    z-index: 1000;
    width: 80%;
    height: 12rem;
}

.svg-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 44px;
    color: #000;
    cursor: pointer;
}

.hiddenList.active {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}


.hidden-items {
    list-style: none;
    font-size: 1.8rem;
    font-weight: var(--semibold-font);
    padding: 10px;
    color: #000;
}

.download {
    color: #fff;
    padding: 16px 32px;
    background-color: var(--blue);
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-weight: var(--medium-font);
    font-family: 'Gilroy';
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: var(--margin-botoom);
}

.hidden {
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.hero-image {
    height: 37rem;
}

.hero-pre-text,
.hero-heading,
.hero-post-text {
    text-align: center;
}

.hero-heading {
    max-width: 100rem;
}

.hero-pre-text {
    font-size: 1.6rem;
    font-weight: var(--medium-font);
    color: var(--blue);
}

.hero-heading {
    font-size: 5.2rem;
    font-weight: var(--bold-font);
}

.hero-post-text {
    font-size: 2rem;
    font-weight: var(--medium-font);
    margin-bottom: 40px;
    max-width: 65rem;
}

.why-section {
    display: flex;
    gap: 60px;
    background-color: var(--light-blue);
}

.why-image-container {
    width: 50%;
    height: 70rem;
}

.why-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.why-section-article {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 10px 20px;
    position: relative;
}

.why-section-article::after {
    content: url('images/dots\ green.svg');
    position: absolute;
    inset: auto 0 60px auto;
}

.why-heading {
    font-size: 7.2rem;
    font-weight: bold;
    width: 70rem;
    margin-bottom: 20px;
}

.why-article {
    font-size: 2rem;
    margin-bottom: 100px;
    font-weight: var(--medium-font);
}

.why-us {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.whyUs-svg {
    display: flex;
    gap: 10px;
}

.svg-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.svg-heading {
    font-size: 2.4rem;
    font-weight: var(--semibold-font);
}

.svg-article {
    font-size: 1.6rem;
    font-weight: var(--medium-font);
}

.not-travel-section {
    background: url('images/Pattern\ 1.svg');
    padding: 100px 50px 0 50px;
}

.travel-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.travel-heading {
    font-size: 7.2rem;
    font-weight: bold;
    text-align: center;
}

.travel-article {
    font-size: 2rem;
    text-align: center;
    width: 50%;
    font-weight: var(--medium-font);
    margin-bottom: var(--margin-botoom);
}

.grid-wrapper {
    display: flex;
    justify-content: center;
}

.travel-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    max-width: 1440px;
}

.plane-container p,
.bus-container p,
.train-container p {
    text-align: center;
    font-weight: var(--semibold-font);
    font-size: 2.2rem;
}

.plane-container {
    grid-column: span 2;
    grid-row: 1;
}

.plane-container img,
.bus-container img,
.train-container img {
    max-width: 100%;
    border-radius: 30px;
}

.bus-container {
    grid-column: 1;
    grid-row: span 2;
}

.bus-container img {
    width: 100%;
}

.train-container {
    grid-column: 2;
    grid-row: 2;
}

.unmatched-section {
    padding-top: 60px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-right: 40px;
    margin-bottom: var(--margin-botoom);
}

.unmatched-heading {
    font-size: 7.2rem;
    font-weight: var(--bold-font);
}

.unmatched-article {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    padding: 40px;
}

.wrapper {
    z-index: -1;
    background-color: var(--light-blue);
    height: 10%;
    border-bottom-right-radius: 200px;
    position: relative;
}

.wrapper::after {
    content: '';
    position: absolute;
    top: -45px;
    right: -55px;
    width: 137px;
    height: 193px;
    background-image: url('images/Fill\ 1.svg');
    background-repeat: no-repeat;
}

.phone-img-container {
    margin-left: -150px;
}

.phone-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.art {
    display: flex;
    gap: 20px;
}

.art-text {
    font-size: 1.6rem;
    font-weight: var(--medium-font);
    max-width: 500px;
}

.art-article {
    display: flex;
    flex-direction: column;
}

.art-heading {
    font-size: 2.4rem;
    font-weight: var(--semibold-font);
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 3rem;
    font-weight: var(--semibold-font);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--blue);
    color: #fff;
}

.review-section {
    margin: 0 15px;
    margin-bottom: var(--margin-botoom);
}

.review-heading {
    font-size: 7.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.review-text {
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.card-review {
    display: grid;
    grid-template-columns: 70px 1fr;
    background-color: #F6F6F6;
    padding: 20px;
    border-radius: 20px;
    min-width: 30rem;
    max-width: 46rem;
    font-size: 1.53rem;
}

.card-img {
    grid-column: 1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.card-text-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.store-section {
    background: url('images/BG\ the\ last\ screen.png');
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 15px;
    padding: 30px 0;
}

.join-heading {
    font-size: 7.2rem;
    font-weight: var(--bold-font);
}

.join-badge {
    max-width: 21rem;
}

.store-join {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 60rem;
}

.join-appStore {
    max-height: 38rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 50px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    gap: 25px;
}

.logo-footer {
    margin: 0;
}


a {
    text-decoration: none;
    color: #000;
}

/* tablet responsive */
@media (max-width: 1200px) {
    .to-hide {
        display: none;
    }

    .hidden {
        display: block;
    }

    .why-heading {
        font-size: 4rem;
        width: 40rem;
    }

    .why-section-article::after {
        inset: 0 0 auto auto;
    }

    .unmatched-heading {
        font-size: 3rem;
    }

    .art-heading {
        font-size: 1.8rem;
    }

    .unmatched-section {
        flex-direction: column;
        padding: 0;
    }

    .phone-img-container {
        padding: 0 40px;
        margin: 0;
    }

    .unmatched-article {
        margin-top: 20px;
    }

    .wrapper::after {
        right: 0px;
    }

    .review-heading {
        font-size: 4rem;
    }

    .store-section {
        flex-direction: column;
    }

    .app-store {
        order: 1;
    }

    .store-join {
        order: 2;
    }

    .join-heading {
        font-size: 4rem;
    }

    .join-badge {
        max-height: 21rem;
    }

    .foot-li {
        font-size: 1.5rem;
    }

}

/* phone responsive */
@media (max-width: 768px) {
    .nav-list li:nth-last-child(2) {
        display: none;
    }

    .nav-list-footer li:nth-last-child(2) {
        display: flex;
    }
    
    .hidden-items {
        font-size: 1.5rem;
    }


    .why-section {
        gap: 30px;
        flex-direction: column;
    }

    .why-image-container {
        width: 100%;
        height: 35rem;
    }

    .why-heading {
        font-size: 3rem;
        width: 30rem;
    }

    .why-article {
        font-size: 1.4rem;
        margin-bottom: 30px;
    }

    .svg-heading {
        font-size: 1.8rem;
    }

    .svg-article {
        font-size: 1.2rem;
    }

    .why-section-article {
        margin-top: 0;
    }

    .why-section-article::after {
        content: '';
    }

    .travel-article {
        width: 100%;
    }

    .unmatched-heading {
        font-size: 3rem;
    }

    .art-heading {
        font-size: 1.8rem;
    }

    .unmatched-section {
        flex-direction: column;
        padding: 0;
    }

    .phone-img-container {
        padding: 0 40px;
        margin: 0;
    }

    .unmatched-article {
        margin-top: 20px;
    }

    .wrapper::after {
        right: 0px;
    }

    .review-heading {
        font-size: 3rem;
    }

    .store-section {
        flex-direction: column;
    }

    .app-store {
        order: 1;
    }

    .store-join {
        order: 2;
    }

    .join-heading {
        font-size: 4rem;
    }

    .join-badge {
        max-height: 21rem;
    }

    .foot-li {
        font-size: 1.2rem;
    } 

    .logo-footer {
        height: 50px;
    }
}

@media (min-width:1920px) {
    .why-section {
        justify-content: center;
    }

    .why-image-container {
        width: 61rem;
    }

    .why-us {
        width: 100rem;
    }

}

@media (max-width: 450px) {
    .logo {
        width: 100px;
    }

    .join-appStore {
        max-width: 30rem;
    }

    .store-section {
        justify-content: center;
        align-items: center;
    }

    .nav-list-footer {
        justify-content: center;
        gap: 20px;
    }

    .logo-footer {
        display: none;
    }
    
}

@media (max-width: 590px) {
    .hiddenList {
        flex-direction: column;
        height: auto;
    }
}

[data-section] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

[data-section].visible {
    opacity: 1;
    transform: translateY(0);
}